{% extends '@LogViewer/base.html.twig' %}

{% block body %}
<!--Container-->
<div class="w-full mx-auto pt-20">

    <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">

        <div class="w-full py-3 px-5">
            <h1 class="text-lg">
                <i class="fab fa-buffer text-pink-600 pr-3"></i>
                Dashboard
                <i class="fas fa-caret-right text-pink-600 px-3"></i>
                Logs of {{ date }}
            </h1>
        </div>

        <div class="flex flex-wrap">
            {% for id, metric in metrics %}
            <div class="w-full md:w-1/2 xl:w-1/{{ per_row }} p-3">
                <!--Dashboard Card-->
                <div id="log_metric_{{ id }}" class="bg-white border rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        {% if metric.icon is defined and metric.icon is not same as ('') %}
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-{{ metric.color }}"><i class="fa {{ metric.icon }} fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        {% endif %}
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-{{ metric.color }}">{{ metric.title }}</h5>
                            <h3 class="font-bold text-3xl">
                                <a href="{{ path('kira_log_viewer.viewer.index') }}">{{ metric.result }}</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--/Dashboard Card-->
            </div>
            {% endfor %}
        </div>

    </div>

</div>
<!--/Container-->
{% endblock %}

{% block footer %}
{% endblock %}
